parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    ignoreErrors:
        - identifier: argument.templateType
        - identifier: missingType.generics

        #doctrine
        - '#Call to an undefined method Doctrine\\Persistence\\Mapping\\ClassMetadata<object>::setIdGeneratorType\(\)#'
